*{
    margin:0;
    padding:0;
}
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend,figure,img { margin:0; padding:0; }
body{
    overflow-x: hidden;
}
a,u{text-decoration:none;}
b,strong{font-weight:100;}
i,em{font-style:normal;}
ul,li,ol{list-style:none;}
h1,h2,h3,h4,h5,h6{font-style:16px;font-weight:100;}
img{display:block;border:0;}
.clearfix{zoom:1;}
.clearfix:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}

#content{
    width: 100%;
    min-height: 1786px;
    background: #f5f5f5;
    padding-bottom: 70px;
    border-bottom: 1px solid #ccc;
    .main{
        width: 1180px;
        min-height: 1786px;
        background: #f5f5f5;
        margin: 0 auto;
        .main-title{
            width: 100%;
            height: 40px;
            padding-top: 6px;
            font-size: 15px;
            color: #333;
            span{
                line-height: 40px;
                a{
                    color: #333;
                }
            }
            .menu-title{
                margin-left: 4px;
                display: inline-block;
            }
            .menu-color{
                a{
                    color: #eb1151;
                }
            }
            .on{
                color: #ea094b;
            }
            .delete{
                padding: 2px 3px 2px 3px;
                border: 1px solid #ea094b;
                border-radius: 3px;
            }
            .menu-title-totalCount{
                color: #ea094b;
                margin: 0 3px 0;
            }
            .active{
                width: 82px;
            }
        }
        .nav{
            width: 1178px;
            background: white;
            margin: 0 auto;
            margin: 10px 0 20px;
            border: 1px solid #dcdcdc;
            .nav-one,.nav-two{
                min-height: 40px;
                padding: 8px 42px 9px 42px;
                border-bottom: 1px dashed #dcdcdc;
                span{
                    font-size: 15px;
                    font-weight: bold;
                    color: #333;
                    float: left;
                    margin-right: 40px;
                }
                ul{
                    float: left;
                    width: 1000px;
                    padding-bottom: 10px;
                    li{
                        float: left;
                        padding-right: 40px;
                        font-size: 14px;
                        display: inline-block;
                        line-height: 22px;
                        a{
                            color: #333;
                            display: inline-block;
                        }
                    }
                }
            }
            .nav-two{
                border-bottom: none;
            }
        }
        .hot-goods{
            width: 100%;
            margin: 0 auto;
            .goods{
                z-index: 1;
                width: 1180px;
                height: 3840px;
                .goods-item{
                    float: left;
                    width: 294px;
                    margin: 0;
                    position: relative;
                    height: 384px;
                    .goods-item-wrap{
                        position: absolute;
                        width: 294px;
                        height: 373px;
                        margin: 0;
//                      display: none;
                        padding-bottom: 10px;
                        background: #fefefe;
                        border: 1px solid #ccc;
                        .goods-flag-discount{
                            position: absolute;
                            left: 8px;
                            top: 0;
                            width: 72px;
                            height: 67px;
                            font-size: 25px;
                            color: #fff;
                            text-indent: 7px;
                            line-height: 84px;
                        }
                        .goods-flag-df{
                            position: absolute;
                            right: -3px;
                            top: -11px;
                            width: 72px;
                            height: 67px;
                            font-size: 25px;
                            color: #fff;
                            text-indent: 7px;
                            line-height: 84px;
                        }
                        .goods-img{
                            padding: 10px;
                            width: 274px;
                            height: 274px;
                            text-align: center;
                            overflow: hidden;
                            a{
                                img{
                                    display: inline-block;
                                    vertical-align: middle;
                                    font-size: 1rem;
                                    line-height: normal;
                                    width: 274px;
                                    height: 274px;
                                }
                            }
                        }
                        .goods-tit-buy{
                            padding: 10px;
                            padding-bottom: 0;
                            padding-top: 0;
                            .goods-tit-pic{
                                float: left;
                                width: 36px;
                                height: 25px;
                                width: 35px;
                                height: 24px;
                                i{
                                    width: 35px;
                                    height: 30px;
                                    img{
                                        width: 35px;
                                        height: 30px;
                                    }
                                }
                                .kr{
                                    background-position: center;
                                }
                                .country{
                                    float: left;
                                    background-repeat: no-repeat;
                                    width: 35px;
                                    height: 24px;
                                    font-size: 22px;
                                }
                            }
                            .goods-tit-name{
                                float: right;
                                width: 235px;
                                min-height: 20px;
                                .goods-tit{
                                    float: left;
                                    width: 100%;
                                    height: 20px;
                                    color: #333;
                                    font-weight: bold;
                                    font-size: 13px;
                                    line-height: 20px;
                                    overflow: hidden;
                                    margin-top: 4px;
                                }
                            }
                        }
                        .goods-price{
                            padding: 5px 10px 0px 10px;
                            height: 18px;
                            width: 274px;
                            margin-top: 30px;
                            .goods-price-now{
                                font-size: 18px;
                                color: #F61D4B;
                                letter-spacing: -1px;
                                float: left;
                                line-height: 18px;
                            }
                            .goods-price-his{
                                margin-left: 17px;
                                color: #999;
                                text-decoration: line-through;
                                float: left;
                                font-size: 12px;
                                line-height: 24px;
                            }
                        }
                        .goods-number{
                            padding: 5px 10px 0px 10px;
                            height: 18px;
                            .goods-tip2{
                                float: right;
                                width: 33px;
                                height: 18px;
                                border: 1px solid #ea094b;
                                background: #fff;
                                color: #ea094b;
                                text-align: center;
                                line-height: 18px;
                            }
                            .goods-min-qty{
                                float: left;
                                color: #999;
                                padding-right: 10px;
                                font-size: 14px;
                                width: 200px;
                            }
                        }
                    }
                }
            }
        }
        #paging{
            width:1179px;
            height:48px;
            background:white;
            border:1px solid #ddd;
            box-shadow:0 1px 5px rgba(150,150,150,.3);
            margin-top:40px;
            text-align:center;
            .txt{
                position: absolute;
                margin: 14px 0 0 283px;
                .num{
                    color: #F61D4B;
                }
            }
            #left{
                color:#555555;
                height:48px;
                line-height:48px;
                position:absolute;
                margin-left:-63px;
                width:62px;
                a{
                    color:#3d3d3d;
                    display:block;
                    width:62px;
                    height:48px;
                }
            }
            ul{
                display:inline-block;
                line-height:48px;
                li{
                    float:left;
                    display:block;
                    height:48px;
                    a{
                      font-size:14px;
                      width:50px;
                      height:48px;
                      line-height:48px;
                      display:block;
                      margin:0 1px;
    //                padding:0 20px;
                      border:none;
                      border-radius:0;
                      height:48px;
                      background:white;
                      color:#3d3d3d;
                    }
                }
                .active{
                    a{
                        color:white;
                        background:#df3442;
                        display:block;
                        height:48px;
                    }
                }
            }
            #right{
                color:#555555;
                height:48px;
                line-height:48px;
                position:absolute;
                margin-left:1px;
                width:62px;
                a{
                    color:#3d3d3d;
                    display:block;
                    width:62px;
                    height:48px;
                }
            }
        }
    }
}
.right_banner_fixed_wrap{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    height: 100%;
    width: 40px;
    .right_banner_fixed{
        position: fixed;
        top: 50%;
        right: 0;
        width: 35px;
        background: #ea094b;
        z-index: 300;
        padding-top: 10px;
        margin-top: -125px;
        ul{
            li{
                margin-bottom: 10px;
                position: relative;
                a{
                    position: relative;
                    display: block;
                    width: 35px;
                    height: 38px;
                    font-size: 20px;
                    font-weight: bold;
                    color: white;
                    text-align: center;
                    i{
                        font-weight: 300;
                    }
                }
                span{
                    position: absolute;
                    left: -131px;
                    top: 0;
                    width: 127px;
                    height: 38px;
                    padding-right: 4px;
                    text-align: center;
                    font-size: 14px;
                    line-height: 38px;
                    color: #fff;
                    background: #333;
                    display: none;
                    .triangle{
                        width:0;   
                        height:0;   
                        border-top:3px solid transparent;   
                        border-bottom: 6px solid transparent;   
                        border-left: 6px solid #333;
                        position: absolute;
                        top: 16px;
                        right: -6px;
                    }
                }
            }
            .nav01,.nav02,.nav03,.nav04,.nav05,.nav06{
                i{
                    font-size: 20px;
                    line-height: 38px;
                }
            }
            .nav04{
                position: relative;
                b{
                    position: absolute;
                    width: 127px;
                    height: 158px;
                    display: none;
                    img{
                        position: absolute;
                        right: 127px;
                        top: -86px;
                    }
                    .triangle{
                        width:0;   
                        height:0;   
                        border-top:3px solid transparent;   
                        border-bottom: 6px solid transparent;   
                        border-left: 6px solid #333;
                        position: absolute;
                        top: -22px;
                    }
                }
            }
        }
    }
}