* {
  margin: 0;
  padding: 0;
}

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, figure, img {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

a, u {
  text-decoration: none;
}

b, strong {
  font-weight: 100;
}

i, em {
  font-style: normal;
}

ul, li, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-style: 16px;
  font-weight: 100;
}

img {
  display: block;
  border: 0;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

#content {
  width: 100%;
  min-height: 1786px;
  background: #f5f5f5;
  padding-bottom: 70px;
  border-bottom: 1px solid #ccc;
}
#content .main {
  width: 1180px;
  min-height: 1786px;
  background: #f5f5f5;
  margin: 0 auto;
}
#content .main .main-title {
  width: 100%;
  height: 40px;
  padding-top: 6px;
  font-size: 15px;
  color: #333;
}
#content .main .main-title span {
  line-height: 40px;
}
#content .main .main-title span a {
  color: #333;
}
#content .main .main-title .menu-title {
  margin-left: 4px;
  display: inline-block;
}
#content .main .main-title .menu-color a {
  color: #eb1151;
}
#content .main .main-title .on {
  color: #ea094b;
}
#content .main .main-title .delete {
  padding: 2px 3px 2px 3px;
  border: 1px solid #ea094b;
  border-radius: 3px;
}
#content .main .main-title .menu-title-totalCount {
  color: #ea094b;
  margin: 0 3px 0;
}
#content .main .main-title .active {
  width: 82px;
}
#content .main .nav {
  width: 1178px;
  background: white;
  margin: 0 auto;
  margin: 10px 0 20px;
  border: 1px solid #dcdcdc;
}
#content .main .nav .nav-one, #content .main .nav .nav-two {
  min-height: 40px;
  padding: 8px 42px 9px 42px;
  border-bottom: 1px dashed #dcdcdc;
}
#content .main .nav .nav-one span, #content .main .nav .nav-two span {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  float: left;
  margin-right: 40px;
}
#content .main .nav .nav-one ul, #content .main .nav .nav-two ul {
  float: left;
  width: 1000px;
  padding-bottom: 10px;
}
#content .main .nav .nav-one ul li, #content .main .nav .nav-two ul li {
  float: left;
  padding-right: 40px;
  font-size: 14px;
  display: inline-block;
  line-height: 22px;
}
#content .main .nav .nav-one ul li a, #content .main .nav .nav-two ul li a {
  color: #333;
  display: inline-block;
}
#content .main .nav .nav-two {
  border-bottom: none;
}
#content .main .hot-goods {
  width: 100%;
  margin: 0 auto;
}
#content .main .hot-goods .goods {
  z-index: 1;
  width: 1180px;
  height: 3840px;
}
#content .main .hot-goods .goods .goods-item {
  float: left;
  width: 294px;
  margin: 0;
  position: relative;
  height: 384px;
}
#content .main .hot-goods .goods .goods-item .goods-item-wrap {
  position: absolute;
  width: 294px;
  height: 373px;
  margin: 0;
  padding-bottom: 10px;
  background: #fefefe;
  border: 1px solid #ccc;
}
#content .main .hot-goods .goods .goods-item .goods-item-wrap .goods-flag-discount {
  position: absolute;
  left: 8px;
  top: 0;
  width: 72px;
  height: 67px;
  font-size: 25px;
  color: #fff;
  text-indent: 7px;
  line-height: 84px;
}
#content .main .hot-goods .goods .goods-item .goods-item-wrap .goods-flag-df {
  position: absolute;
  right: -3px;
  top: -11px;
  width: 72px;
  height: 67px;
  font-size: 25px;
  color: #fff;
  text-indent: 7px;
  line-height: 84px;
}
#content .main .hot-goods .goods .goods-item .goods-item-wrap .goods-img {
  padding: 10px;
  width: 274px;
  height: 274px;
  text-align: center;
  overflow: hidden;
}
#content .main .hot-goods .goods .goods-item .goods-item-wrap .goods-img a img {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  line-height: normal;
  width: 274px;
  height: 274px;
}
#content .main .hot-goods .goods .goods-item .goods-item-wrap .goods-tit-buy {
  padding: 10px;
  padding-bottom: 0;
  padding-top: 0;
}
#content .main .hot-goods .goods .goods-item .goods-item-wrap .goods-tit-buy .goods-tit-pic {
  float: left;
  width: 36px;
  height: 25px;
  width: 35px;
  height: 24px;
}
#content .main .hot-goods .goods .goods-item .goods-item-wrap .goods-tit-buy .goods-tit-pic i {
  width: 35px;
  height: 30px;
}
#content .main .hot-goods .goods .goods-item .goods-item-wrap .goods-tit-buy .goods-tit-pic i img {
  width: 35px;
  height: 30px;
}
#content .main .hot-goods .goods .goods-item .goods-item-wrap .goods-tit-buy .goods-tit-pic .kr {
  background-position: center;
}
#content .main .hot-goods .goods .goods-item .goods-item-wrap .goods-tit-buy .goods-tit-pic .country {
  float: left;
  background-repeat: no-repeat;
  width: 35px;
  height: 24px;
  font-size: 22px;
}
#content .main .hot-goods .goods .goods-item .goods-item-wrap .goods-tit-buy .goods-tit-name {
  float: right;
  width: 235px;
  min-height: 20px;
}
#content .main .hot-goods .goods .goods-item .goods-item-wrap .goods-tit-buy .goods-tit-name .goods-tit {
  float: left;
  width: 100%;
  height: 20px;
  color: #333;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  margin-top: 4px;
}
#content .main .hot-goods .goods .goods-item .goods-item-wrap .goods-price {
  padding: 5px 10px 0px 10px;
  height: 18px;
  width: 274px;
  margin-top: 30px;
}
#content .main .hot-goods .goods .goods-item .goods-item-wrap .goods-price .goods-price-now {
  font-size: 18px;
  color: #F61D4B;
  letter-spacing: -1px;
  float: left;
  line-height: 18px;
}
#content .main .hot-goods .goods .goods-item .goods-item-wrap .goods-price .goods-price-his {
  margin-left: 17px;
  color: #999;
  text-decoration: line-through;
  float: left;
  font-size: 12px;
  line-height: 24px;
}
#content .main .hot-goods .goods .goods-item .goods-item-wrap .goods-number {
  padding: 5px 10px 0px 10px;
  height: 18px;
}
#content .main .hot-goods .goods .goods-item .goods-item-wrap .goods-number .goods-tip2 {
  float: right;
  width: 33px;
  height: 18px;
  border: 1px solid #ea094b;
  background: #fff;
  color: #ea094b;
  text-align: center;
  line-height: 18px;
}
#content .main .hot-goods .goods .goods-item .goods-item-wrap .goods-number .goods-min-qty {
  float: left;
  color: #999;
  padding-right: 10px;
  font-size: 14px;
  width: 200px;
}
#content .main #paging {
  width: 1179px;
  height: 48px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 1px 5px rgba(150, 150, 150, 0.3);
  margin-top: 40px;
  text-align: center;
}
#content .main #paging .txt {
  position: absolute;
  margin: 14px 0 0 283px;
}
#content .main #paging .txt .num {
  color: #F61D4B;
}
#content .main #paging #left {
  color: #555555;
  height: 48px;
  line-height: 48px;
  position: absolute;
  margin-left: -63px;
  width: 62px;
}
#content .main #paging #left a {
  color: #3d3d3d;
  display: block;
  width: 62px;
  height: 48px;
}
#content .main #paging ul {
  display: inline-block;
  line-height: 48px;
}
#content .main #paging ul li {
  float: left;
  display: block;
  height: 48px;
}
#content .main #paging ul li a {
  font-size: 14px;
  width: 50px;
  height: 48px;
  line-height: 48px;
  display: block;
  margin: 0 1px;
  border: none;
  border-radius: 0;
  height: 48px;
  background: white;
  color: #3d3d3d;
}
#content .main #paging ul .active a {
  color: white;
  background: #df3442;
  display: block;
  height: 48px;
}
#content .main #paging #right {
  color: #555555;
  height: 48px;
  line-height: 48px;
  position: absolute;
  margin-left: 1px;
  width: 62px;
}
#content .main #paging #right a {
  color: #3d3d3d;
  display: block;
  width: 62px;
  height: 48px;
}

.right_banner_fixed_wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  height: 100%;
  width: 40px;
}
.right_banner_fixed_wrap .right_banner_fixed {
  position: fixed;
  top: 50%;
  right: 0;
  width: 35px;
  background: #ea094b;
  z-index: 300;
  padding-top: 10px;
  margin-top: -125px;
}
.right_banner_fixed_wrap .right_banner_fixed ul li {
  margin-bottom: 10px;
  position: relative;
}
.right_banner_fixed_wrap .right_banner_fixed ul li a {
  position: relative;
  display: block;
  width: 35px;
  height: 38px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.right_banner_fixed_wrap .right_banner_fixed ul li a i {
  font-weight: 300;
}
.right_banner_fixed_wrap .right_banner_fixed ul li span {
  position: absolute;
  left: -131px;
  top: 0;
  width: 127px;
  height: 38px;
  padding-right: 4px;
  text-align: center;
  font-size: 14px;
  line-height: 38px;
  color: #fff;
  background: #333;
  display: none;
}
.right_banner_fixed_wrap .right_banner_fixed ul li span .triangle {
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #333;
  position: absolute;
  top: 16px;
  right: -6px;
}
.right_banner_fixed_wrap .right_banner_fixed ul .nav01 i, .right_banner_fixed_wrap .right_banner_fixed ul .nav02 i, .right_banner_fixed_wrap .right_banner_fixed ul .nav03 i, .right_banner_fixed_wrap .right_banner_fixed ul .nav04 i, .right_banner_fixed_wrap .right_banner_fixed ul .nav05 i, .right_banner_fixed_wrap .right_banner_fixed ul .nav06 i {
  font-size: 20px;
  line-height: 38px;
}
.right_banner_fixed_wrap .right_banner_fixed ul .nav04 {
  position: relative;
}
.right_banner_fixed_wrap .right_banner_fixed ul .nav04 b {
  position: absolute;
  width: 127px;
  height: 158px;
  display: none;
}
.right_banner_fixed_wrap .right_banner_fixed ul .nav04 b img {
  position: absolute;
  right: 127px;
  top: -86px;
}
.right_banner_fixed_wrap .right_banner_fixed ul .nav04 b .triangle {
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #333;
  position: absolute;
  top: -22px;
}

/*# sourceMappingURL=productlist.css.map */
